:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color-scheme: light dark;
    color: black;
    background-color: black;
    background-image:  url(https://e0.pxfuel.com/wallpapers/398/341/desktop-wallpaper-cool-green-art-green.jpg);
    background-size: cover;

    
  }
  