.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    background-color: lightgreen;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-left: 50%;
    
  
  }
  
 
  .button:hover {
    background-color: darkgreen;
    border-color: black;
    color: black;
  }

.text {
    color: aliceblue;
}